@model UpdateAlbumViewModel
@{
    ViewData["Title"] = "Home";
}

<!-- Card -->
<div class="card">
    <div class="card-header">
        <h2 class="card-title h4">Update album</h2>
    </div>
    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger mx-4" asp-validation-summary="All"></div>
    }
    <!-- Body -->
    <div class="card-body">
        <!-- Form -->
        <form asp-action="Update" asp-controller="Album" method="post">
            <!-- Form -->
            <div class="form-group mb-3">
                <input asp-for="Id" type="hidden" class="form-control" placeholder="Favorites">
            </div>
            <div class="row mb-4">
                <label asp-for="Title" class="col-sm-3 col-form-label form-label"></label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                        <input asp-for="Title" type="text" class="form-control"
                               placeholder="Enter album title" aria-label="Enter album title">
                    </div>
                </div>
                <span asp-validation-for="Title" class="invalid-feedback"></span>
            </div>
            <div class="row mb-4">
                <label asp-for="Description" class="col-sm-3 col-form-label form-label"></label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm-vertical">
                        <textarea class="form-control" asp-for="Description" 
                                    placeholder="Enter album description" rows="3"></textarea>
                    </div>
                </div>
                <span asp-validation-for="Description" class="invalid-feedback"></span>
            </div>
            <!-- End Form -->
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
        <!-- End Form -->
    </div>
    <!-- End Body -->
</div>
<!-- End Card -->
