@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LoginRegisterLayout";
}
<div class="mx-auto" style="max-width: 30rem;">
    <!-- Card -->
    <div class="card card-lg mb-5">
        <div class="card-body">
            <!-- Form -->
            <form asp-action="Register" asp-controller="Account" method="post">
                <div class="text-center">
                    <div class="mb-5">
                        <h1 class="display-5">Create your account</h1>
                        <p>
                            Already have an account?
                            <a class="link" asp-action="Login" asp-controller="Account">
                                Sign
                                in here
                            </a>
                        </p>
                    </div>
                </div>
                @if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger" asp-validation-summary="All">
                    </div>
                }

                <!-- Form -->
                <div class="mb-4">
                    <label asp-for="FullName" class="form-label"></label>
                    <input asp-for="FullName" class="form-control form-control-lg"
                           placeholder="Jack Sparrow" aria-label="Jack Sparrow" required>
                    <span asp-validation-for="FullName" class="invalid-feedback"></span>
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-4">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" type="email" class="form-control form-control-lg"
                           placeholder="jacksparrow@gmail.com" aria-label="jacksparrow@gmail.com" required>
                    <span asp-validation-for="Email" class="invalid-feedback"></span>
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-4">
                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="form-control form-control-lg"
                           placeholder="captainjack" aria-label="captainjack" required>
                    <span asp-validation-for="UserName" class="invalid-feedback"></span>
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-4">
                    <label asp-for="Password" class="form-label"></label>

                    <div class="input-group input-group-merge" data-hs-validation-validate-class>
                        <input asp-for="Password" class="js-toggle-password form-control form-control-lg"
                               placeholder="6+ characters required"
                               aria-label="6+ characters required" required minlength="6"
                               data-hs-toggle-password-options='{
                           "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                           "defaultClass": "bi-eye-slash",
                           "showClass": "bi-eye",
                           "classChangeTarget": ".js-toggle-password-show-icon-1"
                         }'>
                        <a class="js-toggle-password-target-1 input-group-append input-group-text"
                           href="javascript:;">
                            <i class="js-toggle-password-show-icon-1 bi-eye"></i>
                        </a>
                    </div>

                    <span asp-validation-for="Password" class="invalid-feedback"></span>
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-4">
                    <label asp-for="ConfirmPassword" class="form-label"></label>

                    <div class="input-group input-group-merge" data-hs-validation-validate-class>
                        <input asp-for="ConfirmPassword" class="js-toggle-password form-control form-control-lg"

                               placeholder="6+ characters required" aria-label="6+ characters required" required
                               minlength="6" data-hs-toggle-password-options='{
                           "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                           "defaultClass": "bi-eye-slash",
                           "showClass": "bi-eye",
                           "classChangeTarget": ".js-toggle-password-show-icon-2"
                         }'>
                        <a class="js-toggle-password-target-2 input-group-append input-group-text"
                           href="javascript:;">
                            <i class="js-toggle-password-show-icon-2 bi-eye"></i>
                        </a>
                    </div>

                    <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
                </div>
                <!-- End Form -->
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Create an account</button>
                </div>
            </form>
            <!-- End Form -->
        </div>
    </div>
    <!-- End Card -->

</div>