@{
    ViewData["Title"] = "Profile";
}
<div class="col-lg-3">
    <!-- Navbar -->
    <div class="navbar-expand-lg navbar-vertical mb-3 mb-lg-5">
        <!-- Navbar Toggle -->
        <!-- Navbar Toggle -->
        <div class="d-grid">
            <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse"
                    data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation"
                    aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                    <span class="text-dark">Menu</span>

                    <span class="navbar-toggler-default">
                        <i class="bi-list"></i>
                    </span>

                    <span class="navbar-toggler-toggled">
                        <i class="bi-x"></i>
                    </span>
                </span>
            </button>
        </div>
        <!-- End Navbar Toggle -->
        <!-- End Navbar Toggle -->

        <!-- Navbar Collapse -->
        <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
            <ul id="navbarSettings"
                class="card card-navbar-nav nav nav-tabs nav-lg nav-vertical">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Profile">
                        <i class="bi-person nav-icon"></i> Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="UpdateName" asp-controller="Profile">
                        <i class="bi-at nav-icon"></i> Full name
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="ChangePassword" asp-controller="Profile">
                        <i class="bi-key nav-icon"></i> Change password
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="UpdateSocial" asp-controller="Profile">
                        <i class="bi-instagram nav-icon"></i> Social accounts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="DeleteAccount" asp-controller="Profile">
                        <i class="bi-trash nav-icon"></i> Delete account
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Navbar Collapse -->
    </div>
    <!-- End Navbar -->
</div>

<script src="~/js/sidebar.js"></script>