@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_LoginRegisterLayout";
}

<div class="card">
    <div class="card-header">
        <h1 class="text-danger">Status code: @Model.StatusCode</h1>
    </div>
    <div class="card-body">
        <h2 class="text-danger">An error occurred while processing your request. @Model.Message</h2>
            <a class="link" asp-action="Index" asp-controller="Album">Go home</a>
    </div>
</div>